@import "iconfont.css";
html,
body {
  height: 100%;
}
* {
  border-radius: 0 !important;
  text-decoration: none !important;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
